/workspace/.metadata/.log
/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/jdt.ls-java-project/.markers.snap
/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/jdt.ls-java-project/.syncinfo.snap
/workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
/workspace/.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
/workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/workspace/.metadata/.plugins/org.eclipse.core.resources/3.snap
/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
/workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
/workspace/.metadata/.plugins/org.eclipse.jdt.core/2238567309.index
/workspace/.metadata/.plugins/org.eclipse.jdt.core/3853480837.index
/workspace/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
/workspace/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
/workspace/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/workspace/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/workspace/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/workspace/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/workspace/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/workspace/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/workspace/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/workspace/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
/workspace/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/workspace/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.0.20200318-1040.xml
/workspace/jdt.ls-java-project/.classpath
/workspace/jdt.ls-java-project/.project
/workspace/jdt.ls-java-project/.settings/org.eclipse.jdt.core.prefs
/workspace/jdt.ls-java-project/bin/juke.class
/src/juke.class
/workspace/jdt.ls-java-project/bin/jruby.class
/src/jruby.class
/workspace/.metadata/.plugins/org.eclipse.core.resources/.root/4.tree
/workspace/.metadata/.plugins/org.eclipse.core.resources/4.snap
/workspace/.metadata/.plugins/org.eclipse.core.resources/.root/11.tree
/workspace/.metadata/.plugins/org.eclipse.core.resources/11.snap
/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/jdt.ls-java-project/.markers
/workspace/.metadata/.plugins/org.eclipse.core.resources/.root/12.tree
/workspace/.metadata/.plugins/org.eclipse.jdt.core/3806795091.index
/workspace/.metadata/.plugins/org.eclipse.core.resources/.root/23.tree
/workspace/.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
